body {
  font-size: 1.1111111111111112vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Max Font Size */
@media screen and (min-width:1920px) {
 body {font-size: 21px;}
}

code {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    monospace;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


